@media screen and (max-width: 1150px) {
  .terminalContainer {
    display: none;
  }
}

@media screen and (min-width: 1150px) {
  .terminalTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 600px;
    height: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    p {
      font-size: 12px;
      font-family: var(--font-mono);
      color: #000000;
    }
  }

  .terminalContent {
    background-color: #272936;
    width: 600px;
    height: 400px;
    padding: 1rem;
    color: #ffffff;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    overflow-y: scroll;
  }
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.response {
  margin-left: 1.8rem;

  a {
    font-weight: 700;
    font-family: var(--font-mono);
    color: #ff92d0;
    font-size: 16px;
  }

  span {
    font-weight: 700;
    font-family: var(--font-mono);
    color: #ffffff;
    font-size: 16px;
  }
  
  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.terminalTimeStamp {
  color: #ff92d0;
}

.terminalCursor {
  background-color: #ffffff;
}

.terminalInput {
  background-color: transparent;
  border: 0;
  font-weight: 700;
  font-family: var(--font-mono);
  color: #ffffff;
  font-size: 16px;
  outline: none;
}

.command {
  padding-bottom: 2rem;
}
