@media screen and (max-width: 1150px) {
  .terminal_container {
    display: none;
  }
}

.terminal_container {
  background-color: #272936;
  width: 600px;
  height: 400px;
  padding: 2rem 1rem;
  color: #ffffff;
  border-radius: 2%;
  overflow-y: scroll;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.terminalTimeStamp {
  color: #ff92d0;
}

.terminalCursor {
  background-color: #ffffff;
}

.terminalInput {
  background-color: transparent;
  border: 0;
  font-weight: 700;
  font-family: var(--font-mono);
  color: #ffffff;
  font-size: 16px;
  outline: none;
  padding-bottom: 2rem;
  caret-color: #ff92d0;
}

.command {
  padding-bottom: 2rem;
}